# CMPT354 - MP1 

SQLite Food Delivery Database

Load ipython-sql extension:

In [5]:
%load_ext sql

Create database "delivery" (working name):

In [6]:
%sql sqlite:///delivery.db

'Connected: @delivery.db'

Create Customer table:

In [7]:
%%sql

PRAGMA foreign_keys = ON;

CREATE TABLE Customer(
    customerID      INT,
    firstName       VARCHAR(20),
    lastName        VARCHAR(20),
    email           VARCHAR(20),
    cusAddress      VARCHAR(100),    
    PRIMARY KEY     (customerID)
);

 * sqlite:///delivery.db
Done.
(sqlite3.OperationalError) table Customer already exists
[SQL: CREATE TABLE Customer(
    customerID      INT,
    firstName       VARCHAR(20),
    lastName        VARCHAR(20),
    email           VARCHAR(20),
    cusAddress      VARCHAR(100),
    PRIMARY KEY     (customerID)
);]
(Background on this error at: http://sqlalche.me/e/e3q8)

Populate Customer table:

<br>Create Payment table:

In [8]:
%%sql

CREATE TABLE Payment(
    payID       INT,
    payType     CHAR(4),
    payTotal    FLOAT,
    PRIMARY KEY     (payID)
);

 * sqlite:///delivery.db
Done.

[]

Populate Payment table:

<br>Create OrderInstance table:

In [9]:
%%sql

CREATE TABLE OrderInstance(
    orderID         INT,
    orderTime       TIME,
    orderStatus     VARCHAR(30),
    totalPrice      FLOAT,    
    deliveryTime    TIME,
    PRIMARY KEY     (orderID)
);

 * sqlite:///delivery.db
Done.

[]

Populate OrderInstance table:

<br>Create Driver table:

In [10]:
%%sql

CREATE TABLE Driver(
    driverID        INT,
    firstName       VARCHAR(20),
    lastName        VARCHAR(20),
    carDesc         VARCHAR(50),
    PRIMARY KEY     (driverID)
);

 * sqlite:///delivery.db
Done.

[]

Populate Driver table:

<br>Create Restaurant table:

In [11]:
%%sql

CREATE TABLE Restaurant(
    restName       VARCHAR(30),
    restAddress    VARCHAR(100),    
    cuisine        VARCHAR(30),
    restType       VARCHAR(30),
    rating         INT,
    PRIMARY KEY    (restName, restAddress)
);

 * sqlite:///delivery.db
Done.

[]

Populate Restaurant table:

<br>Create Menu table

In [12]:
%%sql

CREATE TABLE Menu(
    placeholder INT
);

 * sqlite:///delivery.db
Done.

[]

Populate Menu table:

<br>Create Items table:

In [13]:
%%sql

CREATE TABLE Items(
    itemID          INT,
    itemName        VARCHAR(30),
    itemDesc        VARCHAR(50),
    price           FLOAT,
    FOREIGN KEY     (itemID)
    REFERENCES      Menu (placeholder)
);

 * sqlite:///delivery.db
Done.

[]

Populate Items table: