# CMPT354 - MP1 

SQLite Food Delivery Database

Load ipython-sql extension:

In [5]:
%load_ext sql

Create database "delivery" (working name):

In [6]:
%sql sqlite:///delivery.db

'Connected: @delivery.db'

Create Customer table:

In [7]:
%%sql

PRAGMA foreign_keys = ON;

CREATE TABLE Customer(
    customerID      INT,
    firstName       VARCHAR(20),
    lastName        VARCHAR(20),
    email           VARCHAR(20),
    cusAddress      VARCHAR(100),    
    PRIMARY KEY     (customerID)
);

 * sqlite:///delivery.db
Done.
(sqlite3.OperationalError) table Customer already exists
[SQL: CREATE TABLE Customer(
    customerID      INT,
    firstName       VARCHAR(20),
    lastName        VARCHAR(20),
    email           VARCHAR(20),
    cusAddress      VARCHAR(100),
    PRIMARY KEY     (customerID)
);]
(Background on this error at: http://sqlalche.me/e/e3q8)

Populate Customer table:

In [ ]:
INSERT INTO Customer(customerID, firstName, lastName, email, cusAddress)
VALUES  (1, "John", "Patrick", "jpat@gmail.com", "7766 Apple St."),
        (2, "Arnie", "Wright", "arnie_wright@yahoo.com", "8463 Stage Dr."),
        (3, "Luis", "Dolan", "dolan1234@hotmail.com", "9472 Red St."),
        (4, "Jennifer", "Long", "jenny_l@gmail.com", "1235 Winter Ave."),
        (5, "Quinn", "Silva", "queen_silver@yahoo.com", "3984 Scholar St."),
        (6, "Oliver", "Mayer", "olivermayer@yahoo.com", "5874 Heaven Ave."),
        (7, "Stephen", "Potter", "stephen_p@gmail.com", "2736 Temple Dr."),
        (8, "Natalie", "Blackmore", "nat_blackmore@hotmail.com", "3836 Parade Ave."),
        (9, "Elsa", "Morgan", "elmorgan@yahoo.com", "4973 Brown St."),
        (10, "Melinda", "Marshall", "mmarshall@yahoo.com", "3846 Reach Dr.")

<br>Create Payment table:

In [8]:
%%sql

CREATE TABLE Payment(
    payID       INT,
    payType     CHAR(4),
    payTotal    FLOAT,
    PRIMARY KEY     (payID)
);

 * sqlite:///delivery.db
Done.

[]

Populate Payment table:

In [ ]:
INSERT INTO Payment(payID, payType, payTotal)
VALUES  (9, "CASH", ),
        (21, "CARD", ),
        (36, "CASH", ),
        (44, "CARD", ),
        (52, "CARD", ),
        (63, "CARD", ),
        (73, "CARD", ),
        (82, "CASH", ),
        (3, "CASH", ),
        (18, "CARD", )

<br>Create OrderInstance table:

In [9]:
%%sql

CREATE TABLE OrderInstance(
    orderID         INT,
    orderTime       TIME,
    orderStatus     VARCHAR(30),
    totalPrice      FLOAT,    
    deliveryTime    TIME,
    PRIMARY KEY     (orderID)
);

 * sqlite:///delivery.db
Done.

[]

Populate OrderInstance table:

In [ ]:
INSERT INTO OrderInstance(orderID, orderTime, orderStatus, totalPrice, deliveryTime)
VALUES  (1, "", "Delivered", , ""),
        (2, "", "On the Way", , ""),
        (3, "", "Being Prepared", , ""),
        (4, "", "Delivered", , ""),
        (5, "", "On the Way", , ""),
        (6, "", "Being Prepared", , ""),
        (7, "", "Delivered", , ""),
        (8, "", "Delivered", , ""),
        (9, "", "Delivered", , ""),
        (10, "", "On the Way", , "")

<br>Create Driver table:

In [10]:
%%sql

CREATE TABLE Driver(
    driverID        INT,
    firstName       VARCHAR(20),
    lastName        VARCHAR(20),
    carDesc         VARCHAR(50),
    PRIMARY KEY     (driverID)
);

 * sqlite:///delivery.db
Done.

[]

Populate Driver table:

In [ ]:
INSERT INTO Driver(driverID, firstName, lastName, carDesc)
VALUES  (35, "Prisha", "Bruce", "Honda 2012, Blue"),
        (73, "Mark", "Plummer", "Chevrolet 2014, Black"),
        (12, "Fallon", "Lee", "Nissan 2015, Gray"),
        (4, "Bella", "Fellows", "Hyundai 2010, Pink"),
        (93, "Kaleem", "Cooper", "Fiat 2016, Green"),
        (39, "Alfred", "Perkins", "Mazda 2009, Blue"),
        (23, "Philip", "Kemberton", "Ford 2010, Orange"),
        (47, "Bert", "Wilkes", "Suzuki 2012, Red"),
        (8, "Dominic", "Ramirez", "Citroen 2015, Black"),
        (29, "Ivor", "Valentine", "Toyota 2013, White"),

<br>Create Restaurant table:

In [11]:
%%sql

CREATE TABLE Restaurant(
    restName       VARCHAR(30),
    restAddress    VARCHAR(100),    
    cuisine        VARCHAR(30),
    restType       VARCHAR(30),
    rating         INT,
    PRIMARY KEY    (restName, restAddress)
);

 * sqlite:///delivery.db
Done.

[]

Populate Restaurant table:

In [ ]:
INSERT INTO Restaurant(restName, restAddress, cuisine, restType, rating)
VALUES  ("", "", "", "Fast Food", 4),
        ("", "", "", "Fine Dining", 5),
        ("", "", "", "", 3),
        ("", "", "", "", 3),
        ("", "", "", "", 4),
        ("", "", "", "", 2),
        ("", "", "", "", 3),
        ("", "", "", "", 4),
        ("", "", "", "", 5),
        ("", "", "", "", 4)

<br>Create Menu table

In [12]:
%%sql

CREATE TABLE Menu(
    itemID INT,
    menuID INT
    PRIMARY KEY (itemID, menuID)
);

 * sqlite:///delivery.db
Done.

[]

Populate Menu table:

In [ ]:
INSERT INTO Menu(itemID, menuID)
VALUES  (1, 1),
        (2, 1),
        (3, 1),
        (4, 2),
        (5, 2),
        (6, 2),
        (7, 3),
        (8, 3),
        (9, 3),
        (10, 3)

<br>Create Items table:

In [13]:
%%sql

CREATE TABLE Items(
    itemID          INT,
    itemName        VARCHAR(30),
    itemDesc        VARCHAR(50),
    price           FLOAT,
    FOREIGN KEY     (itemID)
    REFERENCES      Menu (itemID)
);

 * sqlite:///delivery.db
Done.

[]

Populate Items table:

In [ ]:
INSERT INTO Items(itemID, itemName, itemDesc, price)
VALUES  (1, "Pizza", "XXXL Size", 14.99),
        (2, "Burger", "Big an Juicy", 8.99,
        (3, "Fries", "Double Fried", 6.99),
        (4, "Ramen", "Super Spicy", 10.99),
        (5, "Sushi", "Lotsa Fish", 15.99),
        (6, "Miso Soup", "Delish", 6.99),
        (7, "Croissant", "Freshly Baked", 3.99),
        (8, "Baguette", "Best Bread", 5.99),
        (9, "Omlette au Fromage", "Chef's Choice", 7.99),
        (10, "Creme Brulee", "Way Too Good", 8.99)